.container{
    background-image: 100%;
    background-color: rgb(172,243,243);
    max-width: 850px;
    padding: 20px;
    margin: 0 auto;
}
h1{
    color: blue;
}
h2{
    color: blue;
}
.section p{
    display: block;
}
.kep-tarolo div{
    border: 1px solid blue;
    display: inline-block;
    justify-content: space-between;
    box-shadow: 5 5 10;
}
.kep-tarolo img{
    width: 200px;
}
.kep-tarolo p{
    color: blue;
    background-color: rgb(172,243,243);
    text-align: center;
}
.section{
    width: 200px;
    height: 200px;
    color: blue;
}
table{
    text-align: center;
    margin: 0 auto;
    border: 1px solid blue;
}
thead{
    background-color: blue;
    color: white;
}
th,td{
    padding: 5px;
    border: 1px solid white;
}
footer{
    color: blue;
    justify-content: flex-end;
    text-align: right;
    padding: 10px;
}